{%- assign page_paths = site.header_pages | default: default_paths -%}
<header>
  <div class="menu">
    <!-- Left-aligned title/logo -->
   
      {%- if site.logo -%}
      <div class="{{logo-container}}" style="width: 20%; padding: 5px; box-sizing: border-box; display: flex; align-items: center; justify-content: center;">
      <a href="{{site.url}}" target="_blank" rel="noopener noreferrer">
        <img src="{{ site.2025logo | relative_url }}" alt="acadia" style="max-width: 100%; max-height: 60px; height: auto;">
      </a>
    </div>
      {%- else -%}
        <a href="{{site.url}}">{{ site.title }}</a>
      {%- endif -%}

    
    <!-- Right-aligned menu items -->
    <ul>
      {%- for path in page_paths -%}
        {%- assign my_page = site.pages | where: "path", path | first -%}
        {%- if my_page.title -%}
          <li><a href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a></li>
        {%- endif -%}
      {%- endfor -%}
    </ul>
  </div>
</header>
