---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "light";
@import "base";

@media (prefers-color-scheme: dark) {
	@import "dark";
}

$font-family_1: 'Simple Console', monospace;
$background-color_1: white;

canvas {
	margin: 1em;
	width: 40em;
	height: 22em;
	display: inline-block;
	font-size: 5em;
	line-height: 1.2;
	font-family: $font-family_1;
	background-color: $background-color_1;
}
hr {
	border: none;
	border-top: 1px dashed rgba(0, 0, 0, 1);
	margin: 20px 0;
}
.post-thumbnail {
	display: block; /* Ensure the image is displayed as a block element */
	width: 50%; /* Make the image 50% of the container width */
	margin: 0 auto 20px; /* Center the image and add spacing below */
	border-radius: 8px; /* Optional: Add rounded corners */
	object-fit: cover; /* Maintain aspect ratio and crop if necessary */
  }